[submodule "todo.txt-cli-again-addon"]
	path = todo.txt-cli-again-addon
	url = https://github.com/nthorne/todo.txt-cli-again-addon.git
[submodule "todo.txt-edit-addon"]
	path = todo.txt-edit-addon
	url = https://github.com/mbrubeck/todo.txt-cli.git
